@media (min-width: 350px) and (max-width: 800px) {
  form {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #05418a;
    padding: 1rem;
    height: 98vh;
    width: 90%;
    border: none;
    border-radius: 1em;
    color: white;
  }
  .btn {
    width: 25%;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #a0a0c5;
    color: rgb(2, 4, 140);
    cursor: pointer;
  }

  .result {
    width: 95%;
    margin-left: 0.5rem;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  form {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #05418a;
    padding: 3rem;
    height: 95vh;
    width: 80%;
    border: none;
    border-radius: 1em;
    color: white;
  }
  .btn {
    width: 25%;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color: #a0a0c5;
    color: rgb(2, 4, 140);
    cursor: pointer;
    margin-top: 3rem;
    padding: 1rem;
  }

  .result {
    width: 95%;
    margin-left: 1rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 9rem;
  }

  label {
    font-size: 2rem;
  }
}
